.row {
  padding: 5px;
  transition: 0.1s;
}

.row:hover {
  background-color: rgba(45,45,45,0.98);
  color: white;
}

.row_selected {
  background-color: orange;
}

.row_selected:hover {
  background-color: orange;
}

.button-container {
  display: flex;
}
a {
  color: #f50057;
}

a:visited {
  color: #444;
}
@media screen and (max-width: 600px) {
  .button-container  {
    display: block;
    width: 100%;
  }
}
.MuiToolbar-regular-53 {
  min-height: 0px !important;
}

.MuiPrivateTabIndicator-colorSecondary-196 {
  display: none;
}
ul {
  list-style: none;
  padding-inline-start: inherit;
}

/* .WithStyles-DialogContent--root-466 {
  min-width: 240px !important;
} */